.button {
  border: 0;
  border-radius: 3px;
  color: #2D232E;
  display: inline-block;
  font-size: 14px;
  padding: 8px 13px 7px;
  text-decoration: none;
}

.button-main {
  background-color: #ff0000;
}

.button-yellow {
  background-color: #F39237;
}
